<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Club Robotique du Lycée Nicolas Appert"/>
        <meta name="author" content="Nathanaël et Noan"/>
        <title>Club robotique - Nicolas Appert</title>
        <link rel="stylesheet" href="../css/style.css"/>
    </head>
    <body>
        <div class="container">
            <ul>
                <li><p><a href="html/2001.html"></a>Année 2001</a></li>
                <li><p><a href="html/2006.html">Année 2006</a></p></li>
                <li><p><a href="html/2007.html"></a>Année 2007</p></li>
                <li><p><a href="html/2010.html"></a>Année 2010</p></li>
                <li><p><a href="html/2011.html"></a>Année 2011</p></li>
                <li><p><a href="html/2012.html"></a>Année 2012</p></li>
                <li><p><a href="html/2015.html"></a>Année 2015</p></li>
                <li><p><a href="html/2016.html"></a>Année 2016</p></li>
                <li><p><a href="html/2017.html"></a>Année 2017</p></li>
                <li><p><a href="html/2018.html"></a>Année 2018</p></li>
                <li><p><a href="html/2019.html"></a>Année 2019</p></li>
                <li><p><a href="html/2020.html"></a>Année 2020</p></li>
            </ul>
        </div>
        <div class="content">
        </div>
    </body>
</html>